<!--    
# ================================================================
#   Name:           post html
#   Description:    UI for create route
#   Last Changed:   12/3/21
#   Changed By:     Reagan Kelley
#   Change Details: Added manage post button
# ================================================================
-->

<table class = "posttable" style = "width:91%;" valign="top" >
    <tr> 
        <!-- Print Job Title -->
        <td colspan="3"><div class="posttitle"> {{post.title}} </div>

            <div class="posttimestamp"><b>Posted at: </b> {{ moment(post.timestamp).format('LLLL') }}
                
            
            
            </div>
            
            
        </td>
    </tr>

    <tr>
        
        <td width="80%">
            <div>
              <br>
              <!-- Print Job Description -->    
              <div class="postbody" style="text-align: left;">{{ post.body }}</div>
              
           </div>
        </td> 

        <td width = "5%"> 

        </td>
    </tr>
    
    <tr > 
        <td colspan="3" style = "text-align:left" valign="bottom">  
            <br>
            <!-- Print Major Tags --> <a style = "margin-left: 0.75%" class = "fa fa-mortar-board"></a>
            {% for major in post.get_majors().all() %}
                    {% if current_user.get_user_type() == 'student' %}
                        
                        {% if major.id == current_user.major  %}
                        <b class= "matchtags"></div>{{ major.get_major_name() }} </b>

                        {% else %}
                        <b class= "posttags"></div>{{ major.get_major_name() }} </b> 
                        {% endif %}
                
                    {% else %}
                    <b class= "posttags"></div>{{ major.get_major_name() }} </b> 

                    {% endif %}
                
            {% endfor %}

            

            <br> <br> <a style = "margin-left: 1%" class ="fa fa-lightbulb-o"></a>
            {% for field in post.get_fields().all() %}
                    {% if current_user.get_user_type() == 'student' %}
                    
                        {% if field in current_user.fields %}
                        <b class= "matchtags"></div>{{ field.get_name() }} </b>

                        {% else %}
                        <b class= "fieldtags"></div>{{ field.get_name() }} </b> 
                        {% endif %}
                    {% else %}
                    <b class= "fieldtags"></div>{{ field.get_name() }}</b> 
                    
                    {% endif %}
            {% endfor %}
            
            
            <br> <br>
            <div class ="postitle" style="margin: 10px; "> <i class = "fa fa-clock-o"><b style="font:bold; font-size: 17; font-family: sans-serif;"> Estimated time commitment: </i></b> {{ post.time_commitment }} hours per week.</div>
              
            <div class="posttimestamp" style = "margin: 5px;"> <i class = "fa fa-calendar"> <b style = "font:bold; font-size:17; font-family: sans-serif;"> Duration of hiring: </i></b> <b>From </b> {{ post.start_date }} <b>To</b> {{ post.end_date }} </div>
            <div> 
                
                
                 
                <div style = "margin-left: 1%; margin-bottom: 0%; "> <br><b>Posted by:</b> <br> <br> Username: <span class = "useritem">{{post.writer.username }}</span> <br> Email: {{post.writer.email}} 
                </div>
                
                {% if current_user.get_user_type() == 'student' %}
                {% if current_user.has_applied(post) == true %}
                
                {% if current_user.get_status(post) ==  'Reject' %}
                
                <span style="color:rgb(255, 0, 51); position: absolute; left:15.25%; margin-top: 0.35%;"> Rejected </span>
                

                {% elif current_user.get_status(post) == 'Interview' %}

                <span style="color:#e2d415; position: absolute; left:15.25%; margin-top: 0.35%;"> Approved for Interview </span>

                {% elif current_user.get_status(post) == 'Hired' %}

                <span style="color:#79d379; position: absolute; left:15.25%; margin-top: 0.35%;"> Hired </span>
                
               
                {% endif %}
                <br>

                {% endif %}
                {% endif %}



                
                 </div>
             </div> 

        </td>
    </tr >



</table>